<nav class="navbar navbar-expand-lg bg-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">spySent</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a
              class="nav-link active navbar-margin"
              aria-current="page"
              href="/aloginhome"
            >Home
            </a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="#">users</a> -->

            <a
              class="nav-link dropdown-toggle navbar-margin "
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Users
            </a>
            <ul class="dropdown-menu navbar-margin user-dropdown-menu">
              <li><a class="dropdown-item " href="#"><%= userName %></a></li>
              <li><a class="dropdown-item " href="/logout">logOut</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">having trouble?</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown navbar-margin">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
             Files
            </a>
            <ul class="dropdown-menu files-dropdown-menu">
              <li><a class="dropdown-item" href="/sendfile">send-files</a></li>
              <li><a class="dropdown-item" href="/history">history</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">make group</a>
              </li>
            </ul>
          </li>
          
        </ul>
        <!-- <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
            Search
          </button>
        </form> -->
      </div>
    </div>
  </nav>