<nav class="bg-white h-16">
  <div class="flex justify-between items-center">
    <a class="font-bold text-black text-3xl px-3" href="/">spySent</a>
    <div class="me-4" id="">
      <ul class="flex mx-2 pt-1 text-xl items-center">
        <li
          class="ms-2 p-2 rounded-sm border-b-2 hover:border-b-2 hover:border-black transition duration-300"
        >
          <a class="" aria-current="page" href="http://localhost:3000/">
            Home
          </a>
        </li>
        <li
          class="ms-2 p-2 rounded-sm border-b-2 hover:border-b-2 hover:border-black transition duration-300"
        >
          <a class="" href="/users/logout">logout</a>
        </li>

        <li
          class="ms-2 p-2 rounded-sm border-b-2 hover:border-b-2 hover:border-black transition duration-300"
        >
          <a
            class=""
            href="/history"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Files
          </a>
        </li>
        <li
          class="ms-2 p-2 rounded-sm border-b-2 hover:border-b-2 hover:border-black transition duration-300"
        >
          <a class="" href="/sendfile">send Files</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
