<nav class="navbar navbar-expand-lg bg-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:3000/">spySent</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a
              class="nav-link active navbar-margin"
              aria-current="page"
              href="http://localhost:3000/"
            >
              <img
              style="height:23px;width:27px"
                class="home-logo "
                src="/house-chimney-solid.svg"
                alt="Image is not shown!"
              />
            </a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="#">users</a> -->

            <a
              class="nav-link dropdown-toggle navbar-margin "
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img class="icons" src="/user-solid.svg" alt="users" />
            </a>
            <ul class="dropdown-menu navbar-margin">
              <li><a class="dropdown-item" href="/signup">logIn</a></li>
              <li><a class="dropdown-item disabled" href="/">logOut</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">having trouble?</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown navbar-margin">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img class="icons" src="/file-import-solid.svg" alt="send-files" />
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item disabled" href="#" onclick="alertmodal()">send Files</a></li>
              <!-- <li><a class="dropdown-item" href="#">Another action</a></li> -->
              <!-- <li><hr class="dropdown-divider" /></li> -->
              <!-- <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li> -->
            </ul>
          </li>
          
        </ul>
        <!-- <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
            Search
          </button>
        </form> -->
      </div>
    </div>
  </nav>
  <div style="display: none;height: 200px;width: 200px;border: 2px solid red;position: absolute;left: 33%;top: 30%;" id="alertmodal">
    you have to login before sharing any files!
    <button id="okbutton">OK</button>
  </div>
  <script>
    function alertmodal(){
      var alertmodal = document.getElementById('alertmodal');
      console.log("alertmodal");
    }

  </script>