<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inshare-file sharing app</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/sendfile.css"/>
    <link rel="stylesheet" href="output.css"/>
  </head>
  <body>
    <%- include('./partials/afterLogin.ejs') %>

    <div class="mainDiv">
      <div class="upload-container-div">
        <section class="upload-container">
          <div class="drop-zone">
            <div class="icon-container">
              <img
                src="/file.png"
                alt="Not shown"
                class="center"
                draggable="false"
              />
              <img
                src="/file.png"
                alt="Not shown"
                class="left"
                draggable="false"
              />
              <img
                src="/file.png"
                alt="Not shown"
                class="right"
                draggable="false"
              />
            </div>
            <input type="file" id="fileInput" />
            <div class="title">
              Drop your files here or, <span class="browseBtn">browse</span>
            </div>
          </div>

          <div class="progress-container">
            <div class="bg-progress"></div>

            <div class="inner-container">
              <div class="title">Uploading...</div>
              <div class="percent-container"><span id="percent">0</span>%</div>
              <div class="progress-bar"></div>
            </div>
          </div>
          <div class="sharing-container">
            <p class="expire">copy the URL link expires in 24 hrs...</p>
            <div class="link-container">
              <input type="text" id="linkUrl" readonly />
              <img
                id="copyBtn"
                style="height: 20px; width: 20px"
                src="copy.png"
                alt="not shown"
              />
            </div>
            <p class="assist">or send via Email</p>
            <div class="email-container">
              <form id="form" action="">
                <!-- <div class="field"> -->
                <!-- <label for="fromEmail">Your email</label> -->
                <!-- <input id="fromEmail" type="email" required> -->
                <!-- </div> -->
                <div class="field">
                  <label for="toEmail">Receiver's email</label>
                  <input id="toEmail" type="email" required />
                </div>
                <button type="submit">send</button>
              </form>
            </div>
          </div>
          <!-- <div class="toast">Email sent </div> -->
          <div
            class="toast align-items-center text-bg-primary border-0"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
          >
            <div class="d-flex">
              <div class="toast-body">
                Hello, world! This is a toast message.
              </div>
              <button
                type="button"
                class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast"
                aria-label="Close"
              ></button>
            </div>
          </div>
        </section>
      </div>

      <div class="bg-image"></div>
    </div>
    <script>
      const dropZone = document.querySelector(".drop-zone");
      const browseBtn = document.querySelector(".browseBtn");
      const fileInput = document.querySelector("#fileInput");
      const baseURL = "http://localhost:3000";
      // const baseURL = "https://inshare-file-sharing.onrender.com";
      const uploadURL = `${baseURL}/api/files`;
      const emailUrl = `${baseURL}/api/files/send`;

      const progressContainer =
        document.getElementsByClassName("progress-container")[0];
      const bgProgress = document.getElementsByClassName("bg-progress")[0];
      const progressBar = document.getElementsByClassName("progress-bar")[0];

      const percentDiv = document.getElementById("percent");

      const linkUrl = document.getElementById("linkUrl");

      const sharingContainer = document.querySelector(".sharing-container");

      const copyBtn = document.getElementById("copyBtn");

      const emailForm = document.querySelector("#form");

      const Toastbody = document.querySelector(".toast-body");
      const Toast = document.querySelector(".toast");

      dropZone.addEventListener("dragover", (e) => {
        e.preventDefault();
        // console.log(dropZone.classList)
        if (!dropZone.classList.contains("dragged")) {
          dropZone.classList.add("dragged");
        }
      });

      dropZone.addEventListener("drop", (e) => {
        e.preventDefault();
        dropZone.classList.remove("dragged");

        const files = e.dataTransfer.files;
        // console.log(files.length);
        // console.table(files);
        if (files.length) {
          // console.log("TRue");
          fileInput.files = files;
        }
        // else{
        //     console.log(files.length+" provide atleast one file");
        // }
        uploadFile();
      });
      fileInput.addEventListener("change", () => {
        // console.table(fileInput.files)
        uploadFile();
      });

      dropZone.addEventListener("dragleave", () => {
        dropZone.classList.remove("dragged");
      });

      browseBtn.addEventListener("click", () => {
        fileInput.click();
      });

      const uploadFile = () => {
        progressContainer.style.display = "block";
        file = fileInput.files[0];
        const formData = new FormData();
        formData.append("myfile", file);

        const xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function () {
          if (xhr.readyState == XMLHttpRequest.DONE) {
            // console.log(xhr.response);
            showtoast("file uploaded!");
            // console.log(xhr.response);
            showLink(JSON.parse(xhr.response));
          }
        };
        // updateProgress;
        xhr.upload.onprogress = (e) => {
          const percent = (e.loaded / e.total) * 100;
          // console.log(percent);
          bgProgress.style.width = `${percent}%`;
          progressBar.style.width = `${percent}%`;
          percentDiv.innerText = Math.round(percent);
        };

        xhr.open("POST", uploadURL);
        xhr.send(formData);
      };

      copyBtn.addEventListener("click", () => {
        linkUrl.select();
        document.execCommand("copy");
        showtoast("copied to clipboard!");
      });

      const showLink = ({ file: url }) => {
        // console.log(url);
        fileInput.value = "";
        progressContainer.style.display = "none";
        bgProgress.style.width = `${0}%`;
        progressBar.style.width = `${0}%`;
        sharingContainer.style.display = "block";

        linkUrl.value = url;
      };

      emailForm.addEventListener("submit", (e) => {
        e.preventDefault();
        const url = linkUrl.value.split("/").splice(-1, 1)[0];
        const formData = {
          uuid: url,
          // emailFrom:emailForm.elements["fromEmail"].value,
          emailTo: emailForm.elements["toEmail"].value,
        };

        // emailForm.elements["fromEmail"].value="";
        emailForm.elements["toEmail"].value = "";

        // console.table(formData);

        fetch(emailUrl, {
          method: "POST",
          headers: {
            "Content-Type": "application/JSON",
          },
          body: JSON.stringify(formData),
        })
          .then((response) => response.json())
          .then(({ success }) => {
            if (success) {
              sharingContainer.style.display = "none";
              showtoast("Email sent");
            } else {
              showtoast("e-mail must be different!");
            }
          });
      });
      let tostTimer;
      const showtoast = (msg) => {
        Toastbody.innerHTML = msg;
        Toast.classList.add("show");

        toastTimer = setTimeout(() => {
          Toast.classList.remove("show");
        }, 2000);
      };
    </script>
  </body>
</html>
