*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: BrandonTextWeb-Bold,sans-serif;
   
}


html,body{
    height: 100%;
    width: 100%;
    
}
body{
    background-color: #051622ed;

}
/* -----------------------navbar------------------------------------ */
.bg-custom{
    background-color: #051622;
}

.img-fluid{
    height: 500px;
    width: 500px;
}

.navbar-brand{
    font-weight: bold;
    color: #1BA098;
    margin:0px;
    padding: 0px 5px 6px;
    transition: 0.3s color; 
}

.navbar-brand:hover{
    color:#DEB992 ;
    
}

.container-fluid{
    margin-left: 55px;
}


.navbar-collapse .navbar-nav .nav-item>a{
    color: #1BA098 !important ;
    border-bottom: 2px solid #051622;

    
} 

.navbar-collapse .nav-item:hover>a{
    color:#DEB992 !important;
    border-color: #DEB992;

}

.navbar-margin{
    margin-left:25px;
}


.navbar-nav{
    margin-left: 50px
}

li.nav-item {
    margin-right: 30px;
}

.dropdown-menu[data-bs-popper] {
   left: unset;
   margin-top: 10px
}


.user-dropdown-menu{

   
    left: 25% !important;
    background-color: #051622 !important;
    
}
.user-dropdown-menu a{
    color: #DEB992;
}
.user-dropdown-menu li:hover .dropdown-item{
    background-color: #0c324edb !important;
    color: #DEB992 !important;
    
}

.files-dropdown-menu{

   
    left: 25% !important;
    background-color: #051622 !important;
    
}
.files-dropdown-menu a{
    color: #DEB992;
}
.files-dropdown-menu li:hover .dropdown-item{
    background-color: #0c324edb !important;
    color: #deb99265 !important;
    
}

/* ----------------------------------- */

.main-div,.container{
    height: 100%;
    width: 100%;
    background-color: #00000000;
}

.greet-col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.greet-col h3{
    color: #1BA098;
    font-size: 40px;
}

.greet-col h2{
    color: #DEB992;
    font-size: 61px;
    font-weight: bold;
    margin-top: 30px;
}